<div class="sidebar-wrapper">
    <div class="logo">
        <a class="simple-text">
            <div class="logo-img">
                <img src="../../assets/img/departing_flights_sign.png" alt="">
            </div>
            FlightMan
        </a>
    </div>
    <ul class="nav">
        <li routerLinkActive="active">
            <a [routerLink]="['/home']" >
                <i class="ti-home"></i>
                <p>Home</p>
            </a>
        </li>

        <li routerLinkActive="active">
            <a [routerLink]="['/flight-search']">
                <i class="ti-layout-list-thumb"></i>
                <p>Flights</p>
            </a>
        </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/flight-edit']">
          <i class="ti-pencil"></i>
          <p>Flight-Edit</p>
        </a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/flight-reactive']">
          <i class="ti-arrow-top-right"></i>
          <p>Flight-Reactive</p>
        </a>
      </li>
        <li routerLinkActive="active">
            <a [routerLink]="['passenger-search']">
                <i class="ti-user"></i>
                <p>Passengers</p>
            </a>
        </li>

        <li routerLinkActive="active">
            <a>
                <i class="ti-shopping-cart"></i>
                <p>Basket</p>
            </a>
        </li>
        <li routerLinkActive="active">
            <a>
                <i class="ti-close"></i>
                <p>Hide Basket</p>
            </a>
        </li>


    </ul>
</div>
