<!-- <div class="card">
  <div class="header">
    <h2 class="title">Flight Search</h2>
  </div>

  <div class="content">
    <form #f="ngForm"
          roundTrip
    >
      <div class="form-group">
        <label>From:</label>
        <input [(ngModel)]="from" class="form-control" name="from"
               required
               minlength="3"
               maxlength="15"
               pattern="[a-zA-Z ]*"
               [city]="['Graz', 'Hamburg', 'Wien', 'Berlin', 'Dortmund','Rom']"

        >
      </div>

      <div class="form-group">
        <button
          [disabled]="f?.invalid"
          (click)="search()"
          class="btn btn-default">Search</button>
      </div>
      <div *ngIf="f?.controls?.touched &&f?.hasError('roundTrip')">From and To must be different.</div>
    </form>
  </div>
</div> -->

<div class="row">
  <div
    *ngFor="let passenger of passengers"
    class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <app-passenger-card
      [item]="passenger">
      <h1 class="top">Passenger</h1>
      <pre class="bottom">{{ passenger | json }}</pre>
    </app-passenger-card>
  </div>
</div>
