<div class="card">
  <div class="header">
    <h2 class="title">Passenger Search</h2>
  </div>

  <div class="content">
    <form #p="ngForm"
    >
      <div class="form-group">
        <label>First name, name, number or status of the passenger:</label>
        <input [(ngModel)]="infos" class="form-control" name="name-number"
               required
               minlength="3"
               maxlength="15"
               placeholder="Search a passenger"
        >
      </div>

      <div class="form-group">
        <button
          [disabled]="f?.invalid"
          (click)="search()"
          class="btn btn-default">Search</button>
        <button
          (click)="viewAll()"
          class="btn btn-default">View all</button>
      </div>
      <div *ngIf="false">From and To must be different.</div>
    </form>
  </div>
</div>

<div class="row">
  <div
    *ngFor="let passenger of passengers"
    class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <app-passenger-card
      [item]="passenger">
      <h1 class="top">Passenger</h1>
      <pre class="bottom">{{ passenger | json }}</pre>
    </app-passenger-card>
  </div>
</div>
